n8n_summarize_call.json
{
  "name": "summarize_call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/path",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "1c7b1ac8-0f25-496b-b35d-399d319a3a62",
      "name": "Webhook",
      "webhookId": "6ec2338b-5fe2-43ac-a6a9-eac6295e130f"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "workflow executed, good job",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "6de0feae-a386-4964-97a7-b24e7adda3fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRb40pdFfk9Htap5WHJyJ_0YzFRGfwapyE5R1f4YJDc",
          "mode": "list",
          "cachedResultName": "trust",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRb40pdFfk9Htap5WHJyJ_0YzFRGfwapyE5R1f4YJDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QxR37sarsXWZtXR1SMZEo6fxM6-R_khtdXu3ziEkN7o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Voicemail Summary": "={{ $json.output.summary }}",
            "Time and Date": "={{ $json.output.dateandtime }}",
            "Spam Risk": "={{ $json.output.spamrisk }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Voicemail Summary",
              "displayName": "Voicemail Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time and Date",
              "displayName": "Time and Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spam Risk",
              "displayName": "Spam Risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "3f2a02b8-284d-4b8f-a2ad-b576d86c6709",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjVvVcgeuO82iqqn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are processing a phone call transcript between a user and an AI agent. Your task is to:\n\n1. **Summarize the conversation**: Create a clear, concise summary of what was discussed. Focus on:\n   - The caller's purpose or request\n   - Key information exchanged\n   - Any action items or next steps\n   - The outcome or resolution\n\n2. **Format the timestamp**: The timestamp is already in PST. Format it as:\n   - Format: `MM/DD, H:MM AM/PM` (e.g., \"12/27, 4:49 PM\")\n   - Rules:\n     * Use numbers for month (1-12), not names\n     * Use 12-hour format with AM/PM\n     * No seconds\n     * No year\n     * Single space after comma\n     * Capitalize AM/PM\n\n3. **Create a normalized date**: Extract and format a clean, readable date from the timestamp:\n   - Format: `Month DD, YYYY` (e.g., \"December 27, 2024\")\n   - Use full month name\n   - Include the year\n   - This is separate from the time formatting above\n\n**Example transformation:**\n- Input timestamp: `2024-12-27T16:49:00-08:00` (December 27, 4:49 PM PST)\n- Formatted time: `12/27, 4:49 PM`\n- Normalized date: `December 27, 2024`\n\n**Output format:**\nProvide your response as a JSON object with these fields:\n- `summary`: (string) The conversation summary\n- `formatted_time`: (string) Time in MM/DD, H:MM AM/PM format\n- `normalized_date`: (string) Date in \"Month DD, YYYY\" format\n- 'spamrisk': (string) either \"High\" or \"Low\", depending on the voicemail summary ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.body.transcript }}"
            },
            {
              "message": "={{ $json.body.timestamp }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        96,
        0
      ],
      "id": "5f9cc7f4-4d81-4685-91eb-fa73f1ee52c1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        176
      ],
      "id": "d2f62808-749e-4406-90db-56ee22a9d34e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RuvdlAMWPNLTJN1C",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n  \t\t},\n\t\t\"dateandtime\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"spamrisk\": {\n            \"type\":\"string\"\n        }\n\t}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "8695633a-77cb-480e-9490-942d5120cee2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        352
      ],
      "id": "3b40421c-72c2-4350-92ee-99cf7bdfd77b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "RuvdlAMWPNLTJN1C",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "88131324-dc93-4fee-b120-e25f336ef258",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc7268518492c14b539810323656b0e8863cc0cdf51a5a987437b8cef97537d8"
  },
  "id": "nUmsPIfkJz7sZlOT",
  "tags": []
}